* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

:root {
    --primary-color: #2e778e;
    --gray-bg-color: #dedede;
}

h2 {
    font-size: 1rem;
    margin-bottom: 5px;
}

p {
    margin-bottom: 5px;
}