.footer {
    width: 70%;
    height: 50px;
    position: fixed;
    box-shadow: 0px 0px 20px #dedede;
    background-color: #fff;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 3000;
}

.footer_nav {
    width: 100%;
    height: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > .footer_nav > img {
    width: 30px;
    height: 30px;
}

.--active {
    background-color: #f4f4f4;
}

button {
    all: unset;
}